{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 100,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "^@nestjs/(.*)$",
    "",
    "^@prisma/client$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/(.*)$",
    "^@(config|common|prisma|sse-sample|tiers|users|games)/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.7.3"
}
